{% extends "site/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block header_title %}
  {% trans "Events" %}
{% endblock %}

{% block media %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery/jquery-1.7.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/eventbrite/Eventbrite.jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/eventbrite/iso8601.js" %}"></script>
<script type="text/javascript" src="{% static "js/eventbrite/basic_search_api.js" %}"></script>
<link rel="stylesheet" href="{% static "css/events/eventbrite.css" %}">
{% endblock %}

{% block content %}

<p>All events happening soon in Oakland. Next step: we'll display these on a map, and let you sort events by event date! After that: more sources!!!</p>

<h2>Eventbrite Events</h2>
<div class="event_list"><a href="http://eventbrite.com">Loading Events...</a></div>

<h2>Google Calendar Events</h2>
<p>@TODO</p>

<h2>Dar Dar Dar Events</h2>
<p>@TODO</p>

{% endblock %}

